@{
    ViewData["Title"] = "Programação";
}

<section class="programacao-section programacao-animation">
    <div class="programacao-container">
        
        <div class="programacao-heading">
            <div class="programacao-divider">
                <span></span>
                <i class="programacao-symbol">✝</i>
                <span></span>
            </div>
            
            <span class="programacao-horario">Horários</span>
            <h1>Programação</h1>
            
            <p>
                Escolha uma missão da Pastoral da Juventude e acompanhe os horários,
                encontros e momentos de oração.
            </p>
        </div>
        
        <div class="programacao-missoes">
            <button class="programacao-missao-card active"
                    type="button"
                    data-missao="maria"
                    data-img="@Url.Content("~/img/programacao_ilustracao_maria.png")">
                
                <img src="@Url.Content("~/img/card/card_maria.png")"
                     alt="Icone Maria em meu Lar"
                     class="programacao-card-icon"/>
                
                <h3>Maria em<br />Meu Lar</h3>
                
                <div class="welcome-divider">
                    <span></span>
                    <i class="fa-solid fa-diamond"></i>
                    <span></span>
                </div>
                <strong>Missão ativa</strong>
            </button>
            
            <button class="programacao-missao-card"
                    type="button"
                    data-missao="semana"
                    data-img="@Url.Content("~/img/programacao_ilustracao_acutis.png")">
                
                <img src="@Url.Content("~/img/card/card_snj.png")"
                     alt="Icone da semana da juventude"
                     class="programacao-card-icon"/>
                
                <h3>Semana da<br />Juventude</h3>
                
                <div class="welcome-divider">
                    <span></span>
                    <i class="fa-solid fa-diamond"></i>
                    <span></span>
                </div>
                <strong>ver horários</strong>
            </button>
            <button class="programacao-missao-card"
                    type="button"
                    data-missao="retiro"
                    data-img="@Url.Content("~/img/programacao_ilustracao_eucaristia.png")">
                
                <img src="@Url.Content("~/img/card/card_retiro.png")"
                     alt="Icone Retiro Quaresmal"
                     class="programacao-card-icon"/>
                
                <h3>Retiro<br />Quaresmal</h3>
                
                <div class="welcome-divider">
                    <span></span>
                    <i class="fa-solid fa-diamond"></i>
                    <span></span>
                </div>
                <strong>ver horarios</strong>
            </button>
            <button class="programacao-missao-card"
                    type="button"
                    data-missao="terco"
                    data-img="@Url.Content("~/img/programacao_ilustracao_terco.png")">
                
                <img src="@Url.Content("~/img/card/card_terco.png")"
                     alt="Icone Terco da juventude"
                     class="programacao-card-icon"/>
                
                <h3>Terço da<br />Juventude</h3>
                
                <div class="welcome-divider">
                    <span></span>
                    <i class="fa-solid fa-diamond"></i>
                    <span></span>
                </div>
                <strong>ver horários</strong>
            </button>
            <button class="programacao-missao-card"
                    type="button"
                    data-missao="segue-me"
                    data-img="@Url.Content("~/img/programacao_ilustracao_segue-me.png")">
                
                <img src="@Url.Content("~/img/card/card_segue-me.png")"
                     alt="Icone Segue-me jovem"
                     class="programacao-card-icon"/>
                
                <h3>Segue-me<br />Jovem</h3>
                
                <div class="welcome-divider">
                    <span></span>
                    <i class="fa-solid fa-diamond"></i>
                    <span></span>
                </div>
                <strong>ver horários</strong>
            </button>
        </div>
        
        <div class="programacao-agenda-card">
            
            <img src="@Url.Content("~/img/programacao_ilustracao_maria.png")"
                 alt="Ilustração de maria"
                 class="programacao-agenda-ilustracao"
                 id="programacaoIlustracao"/>
            
            <div class="programacao-agenda-top">
                <div class="programacao-agenda-title">
                    <span class="programacao-agenda-icon">
                        <i class="fa-solid fa-calendar-days"></i>
                    </span>
                    <div>
                        <h2 id="programacaoTitulo"> 
                            Maria em Meu Lar
                        </h2>
                        <p id="programacaoPeriodo">
                            Maio de 2026
                        </p>
                    </div>
                </div>
                
                <div class="programacao-agenda-actions">
                    <button type="button" aria-label="programacao anterior">
                        <i class="fa-solid fa-chevron-left"></i>
                    </button>
                    <button type="button" aria-label="abrir calendario">
                        <i class="fa-solid fa-calendar-days"></i>
                    </button>
                    <button type="button" aria-label="proxima programacao">
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </div>
            </div>
            
            <div class="programacao-dias" id="programacaoDias">
                
                <article class="programacao-dia">
                    <h3>Segunda-feira</h3>
                    <strong>04/05</strong>
                    
                    <div class="programacao-evento">
                        <span>18:30</span>
                        
                        <div>
                            <h4>Celebração de envio e bênção das familias</h4>
                            <p>
                                <i class="fa-solid fa-location-dot"></i>
                                Igreja Matriz
                            </p>
                        </div>
                    </div>
                    
                    <div class="programacao-evento">
                        <span>19:30</span>
                        
                        <div>
                            <h4>Envio das fámilias missionárias</h4>
                            <p>
                                <i class="fa-solid fa-location-dot"></i>
                                Salão Paroquial
                            </p>
                        </div>
                    </div>
                    
                    <div class="programacao-evento">
                        <span>20:00</span>
                        
                        <div>
                            <h4>Visita da Imagem aos lares</h4>
                            <p>
                                <i class="fa-solid fa-location-dot"></i>
                                Comunidades
                            </p>
                        </div>
                    </div>
                </article>
                
                <article class="programacao-dia">
                    <h3>Terça-feira</h3>
                    <strong>05/05</strong>
                    
                    <div class="programacao-evento">
                        <span>19:30</span>
                        
                        <div>
                            <h4>Momento de oração e envio das imagens</h4>
                            <p>
                                <i class="fa-solid fa-location-dot"></i>
                                Salão Paroquial
                            </p>
                        </div>
                    </div>
                    
                    <div class="programacao-evento">
                        <span>20:00</span>
                        
                        <div>
                            <h4>Encontro nas fámilias</h4>
                            <p>
                                <i class="fa-solid fa-location-dot"></i>
                                Familias missionarias
                            </p>
                        </div>
                    </div>
                    
                    <div class="programacao-evento">
                        <span>21:30</span>
                        
                        <div>
                            <h4>Encerramento com bênção</h4>
                            <p>
                                <i class="fa-solid fa-location-dot"></i>
                                Igreja Matriz
                            </p>
                        </div>
                    </div>
                </article>
                
                <article class="programacao-dia">
                    <h3>Quarta-feira</h3>
                    <strong>06/05</strong>
                    
                    <div class="programacao-evento">
                        <span>19:30</span>
                        
                        <div>
                            <h4>Oração nas famílias e Interações</h4>
                            <p>
                                <i class="fa-solid fa-location-dot"></i>
                                Em seu lares
                            </p>
                        </div>
                    </div>
                    <div class="programacao-evento">
                        <span>20:00</span>
                        
                        <div>
                            <h4>Partilha em pequeno grupo</h4>
                            <p>
                                <i class="fa-solid fa-location-dot"></i>
                                Comunidades
                            </p>
                        </div>
                    </div>
                    <div class="programacao-evento">
                        <span>21:30</span>
                        
                        <div>
                            <h4>Encerramento com bênção</h4>
                            <p>
                                <i class="fa-solid fa-location-dot"></i>
                                Salão Paroquial
                            </p>
                        </div>
                    </div>
                </article>
                <article class="programacao-dia">
                    <h3>Quinta-feira</h3>
                    <strong>07/05</strong>

                    <div class="programacao-evento">
                        <span>19:30</span>

                        <div>
                            <h4>Momento de oração e louvor</h4>
                            <p>
                                <i class="fa-solid fa-location-dot"></i>
                                Igreja Matriz
                            </p>
                        </div>
                    </div>
                    <div class="programacao-evento">
                        <span>20:00</span>
                        
                        <div>
                            <h4>Formação: Maria, Mãe e Discípula</h4>
                            <p>
                                <i class="fa-solid fa-location-dot"></i>
                                Salão Paroquial
                            </p>
                        </div>
                    </div>
                    <div class="programacao-evento">
                        <span>21:30</span>
                        
                        <div>
                            <h4>Adoração ao Santíssimo</h4>
                            <p>
                                <i class="fa-solid fa-location-dot"></i>
                                Igreja Matriz
                            </p>
                        </div>
                    </div>
                </article>
                <article class="programacao-dia">
                    <h3>Sexta-feira</h3>
                    <strong>08/05</strong>
                    
                    <div class="programacao-evento">
                        <span>19:30</span>
                        
                        <div>
                            <h4>Partilha de Palavra</h4>
                            <p>
                                <i class="fa-solid fa-location-dot"></i>
                                Pequenos grupos
                            </p>
                        </div>
                    </div>
                    <div class="programacao-evento">
                        <span>20:00</span>
                        
                        <div>
                            <h4>Partilha da Palavra</h4>
                            <p>
                                <i class="fa-solid fa-location-dot"></i>
                                Igreja Matriz
                            </p>
                        </div>
                    </div>
                    <div class="programacao-evento">
                        <span>21:30</span>
                        
                        <div>
                            <h4>Bênção final e encerramento</h4>
                            <p>
                                <i class="fa-solid fa-location-dot"></i>
                                Igreja Matriz
                            </p>
                        </div>
                    </div>
                </article>
                <article class="programacao-dia">
                    <h3>Sabado-feira</h3>
                    <strong>09/05</strong>
                    <div class="programacao-evento">
                        <span>20:30</span>
                        
                        <div>
                            <h4>Ultima visita as famílias</h4>
                            <p>
                                <i class="fa-solid fa-location-dot"></i>
                                Lares das famílias
                            </p>
                        </div>
                    </div>
                    <div class="programacao-evento">
                        <span>21:30</span>
                        
                        <div>
                            <h4>Encerramento com bênção</h4>
                            <p>
                                <i class="fa-solid fa-location-dot"></i>
                                Igreja Matriz
                            </p>
                        </div>
                    </div>
                </article>
                <article class="programacao-dia">
                    <h3>Domingo-feira</h3>
                    <strong>10/05</strong>
                    <div class="programacao-evento">
                        <span>21:30</span>
                        
                        <div>
                            <h4>Encerramento com bênção</h4>
                            <p>
                                <i class="fa-solid fa-location-dot"></i>
                                Igreja Matriz
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        
        <div class="programacao-aviso">
            <i class="fa-solid fa-circle-info"></i>
            
            <p>
                As programações podem sofrer alterações. Acompanhe as atualizações
                pelos canais oficiais da Pastoral da Juventude.
            </p>
        </div>
    </div>
</section>